@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Lobster+Two&family=Noto+Sans:wght@200&family=Roboto+Condensed:wght@800&family=Single+Day&display=swap');

.seccion4 .edit {
  font-size: 6em;
  margin-bottom: 30px;
  font-weight: bold;
  white-space: nowrap;
  font-family: 'Lobster Two', sans-serif;
  text-shadow: 2px 2px 5px blue;
  color: whitesmoke;
}

.seccion4 .edit2 {
  font-size: 3em;
  margin-bottom: 30px;
  font-weight: bold;
  white-space: nowrap;
  font-family: 'Kalam', cursive;
  text-shadow: 2px 2px 5px blue;
  color: whitesmoke;
}

.seccion4 h2 {
  font-size: 2em;
  margin-bottom: 30px;
  font-weight: bold;
  white-space: nowrap;
  font-family: 'Kalam', cursive;
  text-shadow: 2px 2px 5px orangered;
  color: whitesmoke;
}
.seccion4 p {
  font-size: 1.2em;
  font-weight: 300;
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}


@media (max-width: 480px) {
  .seccion4 .edit {
    font-size: 4.5em;
  }
  .seccion4 .col-sm {
    width: 100%; /* Ajusta el ancho del contenedor para ocupar el 100% del ancho de la pantalla */
  }

  .imagen-container {
    text-align: center; /* Centra la imagen en dispositivos más pequeños */
  }
}
