
<section class="seccion4 bg-light py-0">
  <div class="container bg-dark p-5">
    <h1 class="display-1 edit">Carta menú</h1>

    <img
              src="assets/img/carta.jpg"
              class="card-img-top"
              alt="..."
            />
    <div class="container">
      <div class="row">
        <div class="container p-5">
            <app-modelo3d3></app-modelo3d3>
              <img
                class="imagen"
                src="assets/img/360.png"
                style="width: 70px; height: 70px"
                alt="..."
              />
        </div>
      </div>
    </div>
  </div>
</section>
