.seccion1 {
  position: relative;
  background-image: url('src\assets\img\fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#texto3D {
  position: absolute;
  top: 70%;
  left: 68%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: orange;
  text-align: center;
  text-shadow: 2px 2px 5px blue;
  max-width: 80%; /* Establece un límite máximo de ancho */
}

#texto3D h1 {
  font-size: 4em;
  font-weight: 800;
  white-space: nowrap; /* Evita el salto de línea */
}

#texto3D p {
  font-size: 24px;
  font-weight: bold;
}


.seccion2 {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
