<!-- Agrega el contenedor adicional para el texto -->

<section class="seccion1 bg-light py-0">
  <div class="container main-container">
    <div id="texto3D">
      <h1 class="display-4 text-center text-sm-left">
        Restaurante Delicias MB
      </h1>
      <p class="lead text-sm-center text-md-left">
        Sabores auténticos, experiencias inolvidables
      </p>
    </div>
    <app-modelo3d></app-modelo3d>
  </div>
</section>

<section class="seccion2">
  <div class="cont2">
    <h1 class="edit2 mt-2">Entorno seguro, cómodo y agradable</h1>
    <div class="cont3">
      <app-three-scene></app-three-scene>
      <div class="imagen-container">
        <img
          class="imagen"
          src="assets/img/360.png"
          style="width: 70px; height: 70px"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>
