@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.seccion1 {
  position: relative;
  background-image: url('src\assets\img\fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion2{
  position: relative;
  background-image: url('src/assets/img/restaurante.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#texto3D {
  position: absolute;
  top: 70%;
  left: 68%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: orange;
  text-align: center;
  text-shadow: 2px 2px 5px blue;
  max-width: 80%;
}
#texto3D h1 {
  font-size: 4em;
  font-weight: 800;
  white-space: nowrap;
  font-family: 'Kalam', cursive;
}

.edit2 {
  font-size: 2em;
  font-weight: bold;
  white-space: nowrap;
  font-family: 'Kalam', cursive;
  text-shadow: 2px 2px 5px blue;
  color: white;
  margin-top: 1em;
}

#texto3D p {
  font-size: 24px;
  font-weight: bold;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 768px) {


  #texto3D p {
    font-size: 20px;
    font-weight: bold;
  }

  #texto3D {
    top: 60%;
    left: 46%;
  }

  #texto3D h1 {
    font-size: 2.7em;
  }

  .edit2{
    font-size: 1.8em;
  }
  .cont3 {
    text-align: center;
    margin-left: 7%;
  }

  .imagen-container {
    text-align: center;
  }
}

@media (max-width: 480px) {

  #texto3D p {
    font-size: 20px;
    font-weight: bold;
  }

  #texto3D {
    top: 60%;
    left: 48%;
  }

  #texto3D h1 {
    font-size: 2em;
  }

  .edit2{
    font-size: 1.5em;
  }
  .cont3 {
    text-align: center;
    margin-left: 7%;
  }

  .imagen-container {
    text-align: center;
  }
}
