<section class="seccion3 bg-light text-center py-5">
  <div class="container p-5 ">
    <div class="container">
      <h1 class="display-1 ">Nosotros</h1>
      <div class="row back">
        <div class="col-sm">
          <p class="lead">
            ¡Prepárate para una experiencia culinaria como ninguna otra! En
            Delicias MB, no somos solo un lugar para comer, ¡somos una fiesta
            para tus sentidos! 🎉
          </p>
        </div>
        <div class="col-sm">
          <p class="lead">
            Somos un grupo apasionado de amantes de la comida y buscadores de
            sabores épicos. En lugar de simplemente servir platillos, creamos
            obras maestras gastronómicas que te harán bailar en tu silla y tus
            papilas gustativas gritarán "¡Bravo!".
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="background-overlay"></div>
</section>
<section class="seccion4 bg-light py-0">
  <div class="container bg-dark p-5">
    <h1 class="display-1 edit">Nuestras sedes</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <app-three></app-three>
        </div>
        <div class="col-sm">
          <h2 class="display-5">Haz un Brindis con las Olas</h2>
          <p>
            Así que, ¿estás listo para una experiencia gastronómica que te hará
            sentir como si estuvieras navegando en las olas de la felicidad?
            ¡Únete a nosotros en Delicias MB en el Mar y deja que la aventura
            comience!
          </p>
          <p>
            ¡Estamos ubicado en Palm Beach Cr 47 Lt24, tenemos las puertas
            abiertas para ti!
          </p>
        </div>
        <hr/>
        <div class="container p-5">
          <div class="col-sm">
            <h1 class="display-5 edit2">¡Nueva ubicación! - Barrio Chino</h1>

            <p>
              Nuestro restaurante no es solo sobre comida, es sobre crear
              momentos inolvidables. Con un ambiente vibrante y un equipo lleno
              de energía positiva, transformamos cada comida en una fiesta. ¡Ven
              a disfrutar de la magia que solo Delicias MB puede ofrecer!
            </p>
          </div>
          <div class="col-sm">
            <app-modelo3d2></app-modelo3d2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
